@model Web_enti_mvc.Models.LoaiHang

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Xóa loại hàng</title>
</head>
<body>
    <div class="form-horizontal" style="margin-top:150px">
        <h3>Bạn có muốn xóa Loại hàng</h3>
        <div>
            <h4>Xóa loại hàng</h4>
            <hr />

            <dl class="dl-horizontal" style="margin-top:150px">
                <dt>
                    @Html.DisplayNameFor(model => model.TenLoai)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TenLoai)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GhiChu)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GhiChu)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Xóa" class="btn btn-default" /> |
                    @Html.ActionLink("Trở lại", "Index")
                </div>
            }
        </div>
        </div>
</body>

</html>
